<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APLIKASI_KASIR_RESTORAN__DAFFA_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <APLIKASI_KASIR_RESTORAN__DAFFA_.My.MySettings>
      <setting name="dbHost" serializeAs="String">
        <value />
      </setting>
      <setting name="dbUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="dbDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="dbAlamat" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnIDPengguna" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnNamaPengguna" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnHakAkses" serializeAs="String">
        <value />
      </setting>
      <setting name="LPRlokasi" serializeAs="String">
        <value>MATARAM</value>
      </setting>
      <setting name="NamaPimpinan" serializeAs="String">
        <value>RAYA DAFFA PRATAMA</value>
      </setting>
      <setting name="NamaRestoran" serializeAs="String">
        <value>RESTO CITA RASA</value>
      </setting>
      <setting name="NoHP" serializeAs="String">
        <value>081907012831</value>
      </setting>
      <setting name="Moto" serializeAs="String">
        <value>Jagonya Restoran</value>
      </setting>
      <setting name="AlamatRestoran" serializeAs="String">
        <value>JL. Energi No.10, Banjar, Kec. Ampenan</value>
      </setting>
      <setting name="PesanNota" serializeAs="String">
        <value>Terima Kasih</value>
      </setting>
      <setting name="LKS_WPP" serializeAs="String">
        <value />
      </setting>
    </APLIKASI_KASIR_RESTORAN__DAFFA_.My.MySettings>
  </userSettings>
</configuration>